[Unit]
Description=Run xui-fw-sync periodically

[Timer]
OnBootSec=60
OnUnitActiveSec=2min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
