{
  "remark": "Hysteria2",
  "enable": true,
  "listen": "",
  "port": 2096,
  "protocol": "hysteria",
  "settings": {
    "version": 2,
    "clients": [
      { "auth": "__PASSWORD__", "email": "__EMAIL__", "enable": true }
    ]
  },
  "streamSettings": {
    "network": "hysteria",
    "security": "tls",
    "tlsSettings": {
      "serverName": "__TLS_SNI__",
      "minVersion": "1.3",
      "maxVersion": "1.3",
      "alpn": ["h3"],
      "certificates": [
        { "certificateFile": "__CERT_PUB__", "keyFile": "__CERT_KEY__", "ocspStapling": 3600, "usage": "encipherment" }
      ],
      "settings": { "fingerprint": "", "pinnedPeerCertSha256": ["__CERT_PIN__"], "verifyPeerCertByName": "__TLS_SNI__" }
    },
    "hysteriaSettings": {
      "version": 2,
      "udpIdleTimeout": 60,
      "masquerade": { "type": "proxy", "url": "https://__TLS_SNI__/", "rewriteHost": true }
    }
  },
  "sniffing": { "enabled": true, "destOverride": ["http", "tls", "quic"], "routeOnly": true }
}
