{
  "remark": "Shadowsocks-2022",
  "enable": true,
  "listen": "",
  "port": 2095,
  "protocol": "shadowsocks",
  "settings": {
    "method": "2022-blake3-aes-128-gcm",
    "password": "__SS_KEY__",
    "network": "tcp,udp",
    "clients": [
      { "method": "2022-blake3-aes-128-gcm", "password": "__SS_CLIENT_KEY__", "email": "__EMAIL__", "enable": true }
    ]
  },
  "streamSettings": {
    "network": "tcp",
    "security": "none",
    "tcpSettings": { "acceptProxyProtocol": false, "header": { "type": "none" } }
  },
  "sniffing": { "enabled": true, "destOverride": ["http", "tls", "quic"], "routeOnly": true }
}
