{
  "remark": "TUIC-v5",
  "enable": true,
  "listen": "",
  "port": 2097,
  "protocol": "tuic",
  "settings": {
    "clients": [
      { "id": "__UUID__", "password": "__PASSWORD__", "email": "__EMAIL__", "enable": true }
    ],
    "congestion_control": "bbr",
    "alpn": ["h3"],
    "udp_relay_mode": "native",
    "zero_rtt_handshake": true,
    "sni": "__SNI__"
  },
  "streamSettings": {
    "network": "tcp",
    "security": "tls",
    "tlsSettings": {
      "serverName": "__SNI__",
      "minVersion": "1.3",
      "maxVersion": "1.3",
      "alpn": ["h3"],
      "certificates": [
        { "certificateFile": "__CERT_PUB__", "keyFile": "__CERT_KEY__", "ocspStapling": 3600, "usage": "encipherment" }
      ],
      "settings": { "fingerprint": "", "pinnedPeerCertSha256": ["__CERT_PIN__"], "verifyPeerCertByName": "__SNI__" }
    }
  },
  "sniffing": { "enabled": true, "destOverride": ["http", "tls", "quic"], "routeOnly": true }
}
