{
  "remark": "VLESS-gRPC-Reality",
  "enable": true,
  "listen": "",
  "port": 2087,
  "protocol": "vless",
  "settings": {
    "decryption": "none",
    "fallbacks": [],
    "clients": [
      { "id": "__UUID__", "email": "__EMAIL__", "flow": "", "enable": true }
    ]
  },
  "streamSettings": {
    "network": "grpc",
    "security": "reality",
    "grpcSettings": {
      "serviceName": "__SVC__",
      "authority": "",
      "multiMode": false
    },
    "realitySettings": {
      "show": false,
      "xver": 0,
      "target": "__DEST__",
      "serverNames": ["__SNI__"],
      "privateKey": "__PRIVATE_KEY__",
      "shortIds": ["__SHORT_ID__"],
      "settings": { "publicKey": "__PUBLIC_KEY__", "fingerprint": "chrome", "spiderX": "/" }
    }
  },
  "sniffing": { "enabled": true, "destOverride": ["http", "tls", "quic"], "routeOnly": true }
}
